In [1]:
import pandas as pd

original_data = pd.read_csv('../data/Milwaukee_county_records - milwaukee_county_records.csv - actual drug deaths.csv')
raven_compliant = pd.read_csv('../data/Target-MDI-To-EDRS-Template.csv')

In [2]:
original_data.head()

,CaseIdentifier,CaseNum,CaseNum_STR,CaseNumInt,CaseType,EventDate,DeathDate,Age,Sex,Race,...,DeathZip,DeathState,ESRI_OID,death_day,death_month,death_month_num,death_year,death_day_of_week,death_day_is_weekend,death_day_week_of_year
0,208895,16-04779,16-04779,1604779,Exam,2016-09-21,2016-09-22 22:45:00,28 Years,Male,White,...,53212.0,WI,38035,22.0,September,9.0,2016.0,Thursday,False,38.0
1,208896,09-00198,09-00198,900198,Body Released,NaN,2009-01-14 19:25:00,81 Years,Female,White,...,53220.0,WI,19110,14.0,January,1.0,2009.0,Wednesday,False,3.0
2,208897,23-03215,23-03215,2303215,Body Released,NaN,2023-05-12 20:14:00,31 Years,Male,Black,...,53217.0,WI,61702,12.0,May,5.0,2023.0,Friday,False,19.0
3,208898,24-06212,24-06212,2406212,Body Released,NaN,2024-09-18 9:49:00,93 Years,Male,White,...,53228.0,WI,65914,18.0,September,9.0,2024.0,Wednesday,False,38.0
4,208899,06-00832,06-00832,600832,Body Released,NaN,2006-02-28 2:45:00,74 Years,Male,White,...,53219.0,WI,11602,28.0,February,2.0,2006.0,Tuesday,False,9.0

In [3]:
raven_compliant.head()

Empty DataFrame
Columns: [BASEFHIRID, SYSTEMID, MDICASEID, EDRSCASEID, FIRSTNAME, MIDNAME, LASTNAME, AGE, AGEUNIT, RACE, GENDER, ETHNICITY, BIRTHDATE, MRNNUMBER, JOBTITLE, INDUSTRY, LANGUAGE, MARITAL, POSSIBLEID, CAUSEA, CAUSEB, CAUSEC, CAUSED, OSCOND, MANNER, DISPMETHOD, CHOWNINJURY, DURATIONA, DURATIONB, DURATIONC, DURACTIOND, CASENOTES, ATWORK, JOBRELATED, REPORTDATE, REPORTTIME, FOUNDDATE, FOUNDTIME, CDEATHDATE, CDEATHTIME, EVENTDATE, EVENTTIME, PRNDATE, PRNTIME, EXAMDATE, CINJDATE, CINJTIME, CINJDATEEARLY, CINJDATELATE, CDEATHESTABLISHEMENTMETHOD, CIDATEFLAG, CDEATHFLAG, CDEATHTIME.1, LKADATE, LKATIME, CASEYEAR, ATHOSPDATE, ATHOSPTIME, RESSTRET, RESCITY, RESCOUNTY, RESSTATE, RESZIP, RESCOUNTRY, DEATHLOCATION, DEATHLOCATIONTYPE, INJURYLOCATION, FOUNDADDR_STREET, FOUNDADDR_CITY, FOUNDADDR_COUNTY, FOUNDADDR_STATE, FOUNDADDR_ZIP, EVENTPLACE, EVEENTADDR_STREET, EVENTADDR_CITY, EVENTADDR_COUNTY, EVENT_ADDR_STATE, EVENTADDR_ZIP, PRNPLACE, PRNSTREET, PRNCITY, PRNCOUNTY, PRNSTATE, PRNZIP, DISP_PLACE, DISP_STREET, DISP_CITY, DISP_STATE, DISP_ZIP, CINJPLACE, CINJSTREET, CINJCITY, CINJCOUNTY, CINJSTATE, CINJZIP, CDEATHDATE.1, RESNAME, LKAWHERE, HOSPNAME, SCENEADDR_STREET, ...]
Index: []

[0 rows x 136 columns]

In [4]:
# This is just a summary of how we can do this
# We map the correct columns from the original data to the raven compliant csv
# When we finish the mapping in COLMAP, we can just iterate over the COLMAP and map the columns
raven_compliant['BASEFHIRID'] = original_data['CaseIdentifier']
raven_compliant.head()

,BASEFHIRID,SYSTEMID,MDICASEID,EDRSCASEID,FIRSTNAME,MIDNAME,LASTNAME,AGE,AGEUNIT,RACE,...,ME_STREET,ME_CITY,ME_COUNTY,ME_STATE,ME_ZIP,Unnamed: 131,AUTOPUSED,PRONOUNCERNAME,CERTIFIER_IDENTIFIER,CERTIFIER_IDENTIFIER_SYSTEM
0,208895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,208896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,208897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,208898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,208899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN